In [144]:
import pandas as pd
pd.options.mode.chained_assignment = None

In [145]:
df = pd.read_csv("./bollywood_full.csv")

In [146]:
df.columns

Index(['title_x', 'imdb_id', 'poster_path', 'wiki_link', 'title_y',
       'original_title', 'is_adult', 'year_of_release', 'runtime', 'genres',
       'imdb_rating', 'imdb_votes', 'story', 'summary', 'tagline', 'actors',
       'wins_nominations', 'release_date'],
      dtype='object')

In [176]:
# Interesting fields: Original_title, genres, story, actors

In [148]:
# Let the input be genres and output be something like Original_title: , Summary: , actors:

In [149]:
df["genres"][0].split("|")

['Action', 'Drama', 'War']

In [177]:
df["input"] = df.genres

In [178]:
for i, item in enumerate(df["input"]):
    df["input"][i] = df["input"][i].split("|")

In [179]:
df["input"]

0       [Action, Drama, War]
1                      [War]
2         [Biography, Drama]
3             [Crime, Drama]
4                    [Drama]
                ...
4325                 [Drama]
4326                 [Drama]
4327         [Drama, Family]
4328                 [Drama]
4329                 [Drama]
Name: input, Length: 4330, dtype: object

In [181]:
titles = df["original_title"]

In [182]:
story = df["story"]

In [184]:
actors = df["actors"]

In [189]:
output = "title: " + titles + "\n" + "Story: " + story + "\n" + "Suitable Actors: " + actors

In [202]:
df["input"]

0       [Action, Drama, War]
1                      [War]
2         [Biography, Drama]
3             [Crime, Drama]
4                    [Drama]
                ...
4325                 [Drama]
4326                 [Drama]
4327         [Drama, Family]
4328                 [Drama]
4329                 [Drama]
Name: input, Length: 4330, dtype: object

In [192]:
df["output"]

0       Summary: Indian army special forces execute a ...
1       Summary: The story of Battalion 609 revolves a...
2       Summary: Explores Manmohan Singh's tenure as t...
3       Summary: The movie focuses on existing malprac...
4       Summary: Under the 'Evening Shadows'  truth of...
                              ...
4325    Summary: The story is based on the true incide...
4326    Summary: After the death of his wife  a police...
4327                                Summary: Add a Plot »
4328    Summary: Thakur Jaspal Singh lives in the pres...
4329                                Summary: Add a Plot »
Name: output, Length: 4330, dtype: object

In [203]:
dataset = pd.DataFrame({"input" :df["input"], "output" : df["output"]})

In [204]:
dataset

                     input                                             output
0     [Action, Drama, War]  Summary: Indian army special forces execute a ...
1                    [War]  Summary: The story of Battalion 609 revolves a...
2       [Biography, Drama]  Summary: Explores Manmohan Singh's tenure as t...
3           [Crime, Drama]  Summary: The movie focuses on existing malprac...
4                  [Drama]  Summary: Under the 'Evening Shadows'  truth of...
...                    ...                                                ...
4325               [Drama]  Summary: The story is based on the true incide...
4326               [Drama]  Summary: After the death of his wife  a police...
4327       [Drama, Family]                              Summary: Add a Plot »
4328               [Drama]  Summary: Thakur Jaspal Singh lives in the pres...
4329               [Drama]                              Summary: Add a Plot »

[4330 rows x 2 columns]

In [205]:
dataset.to_csv("./bollywood_plots.csv")

In [ ]:
from transformers import AutoTokenizer, AutoModelForCausalLM

tokenizer = AutoTokenizer.from_pretrained("meta-llama/Meta-Llama-3-8B")
model = AutoModelForCausalLM.from_pretrained("meta-llama/Meta-Llama-3-8B")
def tokenize_function(texts):
    return tokenizer(texts, padding='max_length', truncation=True, return_tensors="pt")

tokenized_datasets = [tokenize_function(plot) for plot in plots]